jupyter-contrib-nbextensions>=0.5.1
notebook>=6.0.0
rise>=5.5.1
gdal
fiona  
rasterio
pillow
ipyleaflet
osmnx
mapclassify
mplleaflet
utm
matplotlib
matplotlib_scalebar
geopandas
shapely
folium
earthpy
pysal
textblob
wordcloud
